.breakcrumb .nav-breakcrumb.om-color li a:hover {
  color: #d5375f;
}
.breakcrumb .nav-breakcrumb.om-color li span {
  color: #d5375f;
  border-bottom: 1px solid #d5375f;
  font-style: italic;
}
/* TOP MENU */
.top-menu .box .flags a.current,
.top-menu .box .flags a:hover,
.top-menu .bar-icon:hover {
  border-color: #d5375f;
}
.top-menu .bar-icon:hover::after {
  background-color: #d5375f;
}
/* HEADER COLOR */
.mini-cart.show-view .cart-head:after {
  color: #d5375f;
}
.mini-cart .cart-head label span,
.mini-cart .cart-head p {
  color: #d5375f;
}
.mini-cart .cart-head .cart-count {
  background-color: #d5375f;
}
.mini-cart .cart-cn .cart-list li .text .name a:hover,
.mini-cart .cart-cn .cart-list li .text span {
  color: #d5375f;
}
.mini-cart .cart-cn .cart-bt .btn:hover {
  background-color: #d5375f;
  border-color: #d5375f;
}
.mini-cart .cart-cn .cart-total span {
  color: #d5375f;
}
.menu-bar {
  background-color: #d5375f;
}
/* NAVIGATION COLOR */
.header._1 .header-cn .navigation .menu li a:hover,
.header._2 .header-cn .navigation .menu li a:hover,
.header._3 .header-cn .navigation .menu li a:hover,
.header._1 .header-cn .navigation .menu li.current-menu-item > a,
.header._2 .header-cn .navigation .menu li.current-menu-item > a,
.header._3 .header-cn .navigation .menu li.current-menu-item > a,
.header._1 .header-cn .navigation .menu li.current-menu-parent > a,
.header._2 .header-cn .navigation .menu li.current-menu-parent > a,
.header._3 .header-cn .navigation .menu li.current-menu-parent > a {
  color: #d5375f;
}
.header._1 .header-cn .navigation .menu > li > .sub-menu:before {
  border-top-color: #d5375f;
}
.header._1 .header-cn .navigation .menu > li.menu-parent > a:after {
  border-top-color: #d5375f;
  border-left-color: #d5375f;
}
.header._1 .header-cn .navigation .menu > li > a:before,
.header._1 .header-cn .navigation .menu > li.current-menu-item > a:before {
  border-bottom-color: #d5375f;
}
/* SLIDE COLOR */
.slide .slide-cn._2 .slide-item .text h2 {
  color: #d5375f;
}
.slide-cn .slide-item .text .group .btn {
  border-color: #d5375f;
  color: #d5375f;
}
.slide-cn .slide-item .text .group .btn:hover {
  background-color: #d5375f;
  color: #fff;
}
/* TRENDING TOPRATED ACCESSORIES COLOR */
.trend-rated-item .text h2 a:hover {
  color: #d5375f;
}
.trend-rated-item .text .price-box .special-price .price {
  color: #d5375f;
}
/* FEATURED PRODUCT COLOR */
.featured-slide._2 .owl-prev:hover,
.featured-slide._2 .owl-next:hover {
  background-color: #d5375f;
  border-color: #d5375f;
}
/* TOP SALLES RATED */
.selles-rate-item .text .price-box .special-price .price {
  color: #d5375f;
}
/* PRODUCT COLOR */
.sidebar-slider .slider .ui-slider-range,
.sidebar-slider .slider .btn-filter {
  background-color: #d5375f;
}
.nav-cat li .check-box .checkbox:checked ~ label {
  color: #d5375f;
}
.nav-cat li .check-box .checkbox:checked ~ label span {
  color: #d5375f;
}
.sidebar-tags .sidebar-cloud a:hover {
  color: #fff;
  border-color: #d5375f;
  background-color: #d5375f;
}
.view a:after {
  background-color: #d5375f;
}
.view .view-grid:hover {
  background-position: -19px 0;
}
.view .view-grid.active {
  background-position: -19px 0;
}
.view .view-grid.active:after {
  opacity: 1;
}
.view .view-list:hover {
  background-position: -18px 0;
}
.view .view-list.active {
  background-position: -18px 0;
}
.view .view-list.active:after {
  opacity: 1;
}
.filter:after {
  border-color: #d5375f;
}
.filter-cn:before {
  border-color: #d5375f;
}
.paging-p li a:hover,
.paging-p li.current a {
  color: #d5375f;
}
/* PRODUCT LIST COLOR */
.list-item .text .name a:hover,
.list-item .text .sku span,
.list-item .text .rating a:hover,
.list-item .text .star,
.list-item .text .stock,
.list-item .text .group .price-box .special-price .price {
  color: #d5375f;
}
.list-item._1 .text .group .action .btn-add-cart:hover {
  background-color: #d5375f;
}
.list-item._1 .text .group .action .btn:hover {
  background-color: #d5375f;
  border-color: #d5375f;
}
.list-item._2 .text .group .action .btn-add-cart:hover,
.list-item._3 .text .group .action .btn-add-cart:hover {
  background-color: #d5375f;
}
.list-item._2 .text .group .price-box .special-price .price,
.list-item._3 .text .group .price-box .special-price .price {
  color: #d5375f;
}
.list-item._2 .text .group .action .btn:hover,
.list-item._3 .text .group .action .btn:hover {
  background-color: #d5375f;
  border-color: #d5375f;
}
/* PRODUCT GRID COLOR */
.grid-item._1 .image .action .group a:hover {
  color: #d5375f;
}
.grid-item._1 .text .price-box .price {
  color: #d5375f;
}
.grid-item._2 .image .action .btn:hover {
  background-color: #d5375f;
  border-color: #d5375f;
}
.grid-item._3 .image .rating-view .btn {
  background-color: rgba(0,0,0,0.6);
  border-color: #000;
}
.grid-item._3 .image .rating-view .btn:hover {
  background-color: rgba(0,0,0,0.6);
  color: #fff;
}
.grid-item._3 .text .action .btn:hover {
  border-color: #d5375f;
  background-color: #d5375f;
}
.grid-item._3 .text .action .btn.add-cart {
  background-color: #FE6500;
  border-color: #FE6500;
  border-radius: 10px;
}
.grid-item._3 .text .action .btn.add-cart:hover {
  background-color: transparent;
  color: #d5375f;
}
.grid-item .text .name a:hover {
  color: #d5375f;
}
.grid-item .text .price-box .price {
  color: #d5375f;
}
.grid-item .rating .star {
  color: #d5375f;
}
.grid-item .count-date._1 {
  background-color: #d5375f;
}
/* PRODUCT DETAIL */
.product-detail .product-image .view-block .thumb_list li.active:after,
.product-detail .product-image .view-block .thumb_list li:hover::after,
.product-detail .product-text .attribute_fieldset .attribute_list .attribute_color li.active:after,
.product-detail .product-text .attribute_fieldset .attribute_list .attribute_color li:hover::after {
  border-color: #d5375f;
}
.product-detail .product-text .product_sku span,
.product-detail .r-tabs .r-tabs-accordion-title a,
.product-detail .product-collateral .nav-tab li.active a,
.product-detail .product-text .product_review .review_star {
  color: #d5375f;
}
.product-detail .product-text .price-box .special-price .price {
  color: #d5375f;
}
.product-detail .product-text .add-to-box .add-to-cart .btn {
  border: 1px solid #D76E01;background:#F67D00 none repeat scroll 0%;border-radius:10px;
}
.product-detail .product-text .add-to-box .add-to-cart .btn:hover {
  background-color: transparent;
  color: #d5375f;
}
.product-detail .product-text .add-to-box .add-to-user .btn {
  border-color: #d5375f;
  color: #d5375f;
}
.product-detail .product-text .add-to-box .add-to-user .btn:hover {
  background-color: #d5375f;
  color: #fff;
}
.related-cn._2 .owl-prev:hover,
.related-cn._2 .owl-next:hover {
  background-color: #d5375f;
  border-color: #d5375f;
}
/* CHECK OUT COLOR */
.check-out-step li.current:before {
  background-color: #d5375f;
}
.check-out-step li.current span {
  color: #d5375f;
}
/* HEADING TABS */
.heading-tabs._1 ul li a:hover,
.heading-tabs._3 ul li a:hover,
.heading-tabs._1 ul li.active a,
.heading-tabs._3 ul li.active a {
  color: #d5375f;
}
.heading-tabs._2 ul li a:hover,
.heading-tabs._2 ul li.active a {
  background-color: #d5375f;
  border-color: #d5375f;
}
/* SHOP CART */
.table-cn .table-cart tbody tr td.td-sub,
.table-cn .table-cart tbody tr td .info a:hover,
.table-cn .table-cart tfoot tr td,
.table-cn .table-cart tbody tr td .info .attr span {
  color: #d5375f;
}
.shop-button .btn:hover,
.cart-collaterals .btn:hover {
  background-color: #d5375f;
  border-color: #d5375f;
  color: #fff;
}
/* BLOG COLOR */
.blog-item .img .blog-date,
.blog-item .text .blog-meta li a span,
.blog-item .text h2 a {
  color: #d5375f;
}
.blog-item .text h2 a:hover {
  text-shadow: 1px 1px 0px rgba(215, 31, 83, 0.3);
}
.blog-item .img .blog-date {
  color: #d5375f;
  border: 2px solid;
  border-right: 0;
}
.blog-item .img .blog-date:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 15px;
  border-left: 3px solid;
  right: -1px;
  top: -2px;
  transform-origin: 0 0;
  transform: skew(45deg);
}
.blog-item .img .blog-date:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 15px;
  border-left: 3px solid;
  right: -1px;
  bottom: -2px;
  transform-origin: 0 100%;
  transform: skew(-45deg);
}
.state-box._5,
.state-box._6 {
  color: #d5375f;
  border: 2px solid;
  border-right: 0;
}
.state-box._5:before,
.state-box._6:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 12px;
  border-left: 3px solid;
  right: -1px;
  top: -2px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: skew(45deg);
  -moz-transform: skew(45deg);
  -ms-transform: skew(45deg);
  -o-transform: skew(45deg);
  transform: skew(45deg);
}
.state-box._5:after,
.state-box._6:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 12px;
  border-left: 3px solid;
  right: -1px;
  bottom: -2px;
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  -o-transform: skew(-45deg);
  transform: skew(-45deg);
}
.widget_categories ul li a:hover,
.widget_archive ul li a:hover,
.widget_categories ul li.current-cat a,
.widget_archive ul li.current-cat a {
  color: #d5375f;
}
.widget_recent_entries ul li .post-name:hover {
  color: #d5375f;
}
.widget_tag_cloud .tag_cloud a:hover {
  color: #fff;
  border-color: #d5375f;
  background-color: #d5375f;
}
.post .entry-header .entry-title a:hover,
.post .entry-content .more-link a,
.post .entry-header .entry-meta li.post-author a,
.post .entry-header .entry-meta li.post-comment a span {
  color: #d5375f;
}
.post .entry-header .entry-thumb a:after {
  background-color: #d5375f;
}
.paging ul li a {
  color: #d5375f;
}
.paging ul li a:hover {
  background-color: #d5375f;
  color: #fff;
}
.paging ul li.current a {
  background-color: #d5375f;
  color: #fff;
}
.post-single blockquote:before {
  background-color: #d5375f;
}
#comments .commentlist .comment .comment-body .comment-f a {
  color: #d5375f;
  border-bottom: 1px solid #d5375f;
}
.comment-respond .btn {
  background-color: #d5375f;
  border-color: #d5375f;
}
.comment-respond .btn:hover {
  background-color: transparent;
  color: #d5375f;
}
/* PARTNER COLOR */
.partner-cn._2 .owl-next:hover,
.partner-cn._2 .owl-prev:hover {
  background-color: #d5375f;
  border-color: #d5375f;
}
/* CHECK OUT COLOR */
.check-out-form .btn:hover {
  background-color: #d5375f;
  border-bottom-color: #d5375f;
}
/* COLLECTION COLOR */
.collection-item .text .btn:hover {
  background-color: #d5375f;
  border-color: #d5375f;
}
/* LOGIN / REGISTER COLOR */
.form.login .btn-submit:hover {
  background-color: #d5375f;
  border-color: #d5375f;
  color: #fff;
}
/* PAGE 404 COLOR */
.page-404-cn .btn {
  background-color: #d5375f;
  border-color: #d5375f;
}
.page-404-cn .btn:hover {
  color: #d5375f;
  background-color: transparent;
}
/* PORTFOLIO COLOR */
.portfolio .portfolio-item._1:after {
  background-color: #d5375f;
}
.portfolio .portfolio-item._1:hover::after {
  opacity: 0.8;
}
.portfolio .portfolio-item._2 .img .quick-view:hover {
  background-color: #d5375f;
}
.portfolio .portfolio-item._2 .text p span {
  color: #d5375f;
}
.portfolio .portfolio-item._2:hover .text {
  background-color: #d5375f;
}
.portfolio .portfolio-item._2:hover .text:after {
  background-color: #ca204c;
}
.load-more-pf .btn {
  color: #d5375f;
  border-color: #d5375f;
}
.load-more-pf .btn:hover {
  background-color: #d5375f;
  color: #fff;
}
.load-more-pf .btn.load-active {
  background-color: #d5375f;
}
.portfolio-info ul li .label-inf i {
  color: #d5375f;
}
.portfolio-info ul li p a {
  color: #d5375f;
}
.colio .colio-close:hover::before,
.colio .colio-close:hover::after {
  background-color: #d5375f;
}
/* SHIPPING TOP COLOR */
.shipping-item .inner .icon {
  color: #d5375f;
}
.shipping-item:hover {
  background-color: #d5375f;
  border-color: #d5375f;
}
/* SCROLL TOP COLOR */
#scroll-top {
  background-color: #d5375f;
}
#scroll-top:after {
  border-bottom-color: #d5375f;
}
.view a svg {
  fill: #d5375f;
}
